:root {
  --C-scale: 1; /* Standard multiplikator */
  --base-C: 0.15;
  --base-L: 65%;
  --base-H: 210;

  --accent: oklch(
    var(--base-L) calc(var(--base-C) * var(--C-scale)) var(--base-H)
  );
  color-scheme: light dark;
  --md-sys-color-primary: light-dark(oklch(50% 0.08 210), oklch(80% 0.08 210));
  --md-sys-color-surface-tint: light-dark(
    oklch(50% 0.08 210),
    oklch(80% 0.08 210)
  );
  --md-sys-color-on-primary: light-dark(
    oklch(100% 0.05 210),
    oklch(30% 0.05 210)
  );
  --md-sys-color-primary-container: light-dark(
    oklch(80% 0.08 210),
    oklch(50% 0.08 210)
  );
  --md-sys-color-on-primary-container: light-dark(
    oklch(40% 0.08 210),
    oklch(90% 0.08 210)
  );
  --md-sys-color-secondary: light-dark(
    oklch(50% 0.05 210),
    oklch(80% 0.05 210)
  );
  --md-sys-color-on-secondary: light-dark(
    oklch(100% 0.05 210),
    oklch(30% 0.05 210)
  );
  --md-sys-color-secondary-container: light-dark(
    oklch(90% 0.03 210),
    oklch(40% 0.03 210)
  );
  --md-sys-color-on-secondary-container: light-dark(
    oklch(40% 0.03 210),
    oklch(90% 0.03 210)
  );
  --md-sys-color-tertiary: light-dark(oklch(50% 0.05 270), oklch(80% 0.05 270));
  --md-sys-color-on-tertiary: light-dark(
    oklch(100% 0.05 270),
    oklch(30% 0.05 270)
  );
  --md-sys-color-tertiary-container: light-dark(
    oklch(90% 0.03 270),
    oklch(40% 0.03 270)
  );
  --md-sys-color-on-tertiary-container: light-dark(
    oklch(40% 0.05 270),
    oklch(90% 0.05 270)
  );
  --md-sys-color-error: light-dark(oklch(50% 0.2 27.5), oklch(80% 0.05 27.5));
  --md-sys-on-error: light-dark(oklch(100% 0 27.5), oklch(30% 0.13 27.5));
  --md-sys-error-container: light-dark(
    oklch(90% 0.05 27.5),
    oklch(40% 0.2 27.5)
  );
  --md-sys-on-error-container: light-dark(
    oklch(40% 0.2 27.5),
    oklch(90% 0.05 27.5)
  );
  --md-sys-color-background: light-dark(
    oklch(100% 0.005 210),
    oklch(20% 0.01 210)
  );
}

@media (prefers-contrast: more) {
  :root {
    --md-sys-color-primary: light-dark(
      oklch(0.3 0.05 210),
      oklch(0.95 0.04 210)
    );
    --md-sys-color-surface-tint: light-dark(
      oklch(0.5 0.08 210),
      oklch(0.8 0.08 210)
    );
    --md-sys-color-on-primary: light-dark(oklch(1), oklch(0));
    --md-sys-color-primary-container: light-dark(
      oklch(0.4 0.075 210),
      oklch(0.8 0.075 210)
    );
    --md-sys-color-on-primary-container: light-dark(
      oklch(oklch(1 0.03 210)),
      oklch(0.15 0.03 210)
    );
    --md-sys-color-secondary: light-dark(
      oklch(0.3 0.03 210),
      oklch(0.95 0.03 210)
    );
    --md-sys-color-on-secondary: light-dark(oklch(1 0 0), oklch(0 0 0));
    --md-sys-color-secondary-container: light-dark(
      oklch(0.4 0.03 210),
      oklch(0.8 0.03 210)
    );
    --md-sys-color-on-secondary-container: light-dark(
      oklch(1 0 0),
      oklch(0.15 0.03 210)
    );
    --md-sys-color-tertiary: light-dark(
      oklch(0.3 0.03 270),
      oklch(0.95 0.03 270)
    );
    --md-sys-color-on-tertiary: light-dark(oklch(1 0 0), oklch(0 0 0));
    --md-sys-color-tertiary-container: light-dark(
      oklch(0.4 0.05 270),
      oklch(0.8 0.05 270)
    );
    --md-sys-color-on-tertiary-container: light-dark(
      oklch(1 0 270),
      oklch(0.15 0.06 270)
    );
    --md-sys-color-error: light-dark(
      oklch(0.3 0.125 27.5),
      oklch(0.95 0.02 27.5)
    );
    --md-sys-color-on-error: light-dark(oklch(1 0 0), oklch(0 0 0));
    --md-sys-color-error-container: light-dark(
      oklch(0.4 0.175 27.5),
      oklch(0.8 0.01 27.5)
    );
    --md-sys-color-on-error-container: light-dark(
      oklch(1 0 27.5),
      oklch(0.15 0.06 27.5)
    );
    --md-sys-color-background: light-dark(
      oklch(0.98 0.006 210),
      oklch(0.185 0.009 210)
    );
    --md-sys-color-on-background: light-dark(
      oklch(0.225 0.009 210),
      oklch(0.91 0.006 210)
    );
    --md-sys-color-surface: light-dark(
      oklch(0.9 0.006 210),
      oklch(0.3 0.009 210)
    );
    --md-sys-color-on-surface: light-dark(oklch(0 0 0), oklch(1 0 0));
    --md-sys-color-surface-variant: light-dark(
      oklch(0.9 0.01 210),
      oklch(0.4 0.01 210)
    );
    --md-sys-color-on-surface-variant: light-dark(oklch(0 0 0), oklch(1 0 0));
    --md-sys-color-outline: light-dark(
      oklch(0.3 0.01 210),
      oklch(0.95 0.01 210)
    );
    --md-sys-color-outline-variant: light-dark(
      oklch(0.4 0.01 210),
      oklch(0.8 0.01 210)
    );
    --md-sys-color-shadow: oklch(0 0 0);
    --md-sys-color-scrim: oklch(0 0 0);
    --md-sys-color-inverse-surface: light-dark(
      oklch(0.3 0.009 210),
      oklch(0.9 0.006 210)
    );
    --md-sys-color-inverse-on-surface: light-dark(oklch(1 0 0), oklch(0 0 0));
    --md-sys-color-inverse-primary: light-dark(
      oklch(0.8 0.075 210),
      oklch(0.4 0.075 210)
    );
    --md-sys-color-primary-fixed: light-dark(
      oklch(0.4 0.075 210),
      oklch(0.9 0.075 210)
    );
    --md-sys-color-on-primary-fixed: light-dark(oklch(1 0 0), oklch(0 0 0));
    --md-sys-color-primary-fixed-dim: light-dark(
      oklch(0.3 0.075 210),
      oklch(0.8 0.075 210)
    );
    --md-sys-color-on-primary-fixed-variant: light-dark(
      oklch(1 0 0),
      oklch(0.2 0.03 210)
    );
    --md-sys-color-secondary-fixed: light-dark(
      oklch(0.4 0.03 210),
      oklch(0.9 0.03 210)
    );
    --md-sys-color-on-secondary-fixed: light-dark(oklch(1 0 0), oklch(0 0 0));
    --md-sys-color-secondary-fixed-dim: light-dark(
      oklch(0.3 0.03 210),
      oklch(0.8 0.03 210)
    );
    --md-sys-color-on-secondary-fixed-variant: light-dark(
      oklch(1 0 0),
      oklch(0.2 0.03 210)
    );
    --md-sys-color-tertiary-fixed: light-dark(
      oklch(0.4 0.03 270),
      oklch(0.9 0.03 270)
    );
    --md-sys-color-on-tertiary-fixed: light-dark(oklch(1 0 0), oklch(0 0 0));
    --md-sys-color-tertiary-fixed-dim: light-dark(
      oklch(0.3 0.05 270),
      oklch(0.8 0.05 270)
    );
    --md-sys-color-on-tertiary-fixed-variant: light-dark(
      oklch(1 0 0),
      oklch(0.2 0.06 270)
    );
    --md-sys-color-surface-dim: light-dark(
      oklch(0.8 0.01 210),
      oklch(0.2 0.01 210)
    );
    --md-sys-color-surface-bright: light-dark(
      oklch(0.98 0.01 210),
      oklch(0.42 0.01 210)
    );
    --md-sys-color-surface-container-lowest: light-dark(
      oklch(1 0 0),
      oklch(0 0 0)
    );
    --md-sys-color-surface-container-low: light-dark(
      oklch(0.95 0.0065 210),
      oklch(0.25 0.009 210)
    );
    --md-sys-color-surface-container: light-dark(
      oklch(0.91 0.006 210),
      oklch(0.31 0.009 210)
    );
    --md-sys-color-surface-container-high: light-dark(
      oklch(0.85 0.007 210),
      oklch(0.35 0.009 210)
    );
    --md-sys-color-surface-container-highest: light-dark(
      oklch(0.83 0.0062 223.47),
      oklch(0.4 0.0081 208.75)
    );
  }
}

@media (prefers-contrast: less) {
  :root {
    --md-sys-color-primary: light-dark(
      oklch(0.3 0.07 210),
      oklch(0.9 0.07 210)
    );
    --md-sys-color-surface-tint: light-dark(
      oklch(0.4 0.075 210),
      oklch(0.8 0.075 210)
    );
    --md-sys-color-on-primary: light-dark(oklch(1 0 0), oklch(0.26 0.05 210));
    --md-sys-color-primary-container: light-dark(
      oklch(0.5 0.08 210),
      oklch(0.7 0.08 210)
    );
    --md-sys-color-on-primary-container: light-dark(oklch(1 0 0), oklch(0 0 0));
    --md-sys-color-secondary: light-dark(
      oklch(0.3 0.03 210),
      oklch(0.9 0.03 210)
    );
    --md-sys-color-on-secondary: light-dark(oklch(1 0 0), oklch(0.3 0.03 210));
    --md-sys-color-secondary-container: light-dark(
      oklch(0.5 0.03 210),
      oklch(0.7 0.03 210)
    );
    --md-sys-color-on-secondary-container: light-dark(
      oklch(1 0 0),
      oklch(0 0 0)
    );
    --md-sys-color-tertiary: light-dark(
      oklch(0.3 0.03 270),
      oklch(0.9 0.03 270)
    );
    --md-sys-color-on-tertiary: light-dark(oklch(1 0 0), oklch(0.3 0.03 270));
    --md-sys-color-tertiary-container: light-dark(
      oklch(0.5 0.03 270),
      oklch(0.7 0.03 270)
    );
    --md-sys-color-on-tertiary-container: light-dark(
      oklch(1 0 0),
      oklch(0 0 0)
    );
    --md-sys-color-error: light-dark(
      oklch(0.35 0.15 27.5),
      oklch(0.9 0.05 27.5)
    );
    --md-sys-color-on-error: light-dark(oklch(1 0 0), oklch(0.2 0.11 27.5));
    --md-sys-color-error-container: light-dark(
      oklch(0.55 0.2 27.5),
      oklch(0.675 0.2 27.5)
    );
    --md-sys-color-on-error-container: light-dark(oklch(1 0 0), oklch(0 0 0));
    --md-sys-color-background: light-dark(
      oklch(0.975 0.0055 210),
      oklch(0.185 0.0095 210)
    );
    --md-sys-color-on-background: light-dark(
      oklch(0.225 0.009 210),
      oklch(0.9125 0.006 210)
    );
    --md-sys-color-surface: light-dark(
      oklch(0.975 0.006 210),
      oklch(0.185 0.009 210)
    );
    --md-sys-color-on-surface: light-dark(
      oklch(0.175 0.009 210),
      oklch(1 0 0)
    );
    --md-sys-color-surface-variant: light-dark(
      oklch(0.9125 0.01 210),
      oklch(0.4 0.01 210)
    );
    --md-sys-color-on-surface-variant: light-dark(
      oklch(0.3 0.0125 210),
      oklch(0.9 0.0125 210)
    );
    --md-sys-color-outline: light-dark(
      oklch(0.4 0.01 210),
      oklch(0.75 0.01 210)
    );
    --md-sys-color-outline-variant: light-dark(
      oklch(0.55 0.0125 210),
      oklch(0.65 0.0125 210)
    );
    --md-sys-color-shadow: oklch(0 0 0);
    --md-sys-color-scrim: oklch(0 0 0);
    --md-sys-color-inverse-surface: light-dark(
      oklch(0.3 0.01 220),
      oklch(0.9 0.006 220)
    );
    --md-sys-color-inverse-on-surface: light-dark(
      oklch(0.95 0.006 210),
      oklch(0.28 0.009 210)
    );
    --md-sys-color-inverse-primary: light-dark(
      oklch(0.8 0.075 210),
      oklch(0.4 0.075 210)
    );
    --md-sys-color-primary-fixed: light-dark(
      oklch(0.5 0.085 210),
      oklch(0.9 0.085 210)
    );
    --md-sys-color-on-primary-fixed: light-dark(
      oklch(1 0 0),
      oklch(0.175 0.03 210)
    );
    --md-sys-color-primary-fixed-dim: light-dark(
      oklch(0.4 0.075 210),
      oklch(0.8 0.075 210)
    );
    --md-sys-color-on-primary-fixed-variant: light-dark(
      oklch(1 0 0),
      oklch(0.3 0.055 210)
    );
    --md-sys-color-secondary-fixed: light-dark(
      oklch(0.5 0.03 210),
      oklch(0.9 0.03 210)
    );
    --md-sys-color-on-secondary-fixed: light-dark(
      oklch(1 0 0),
      oklch(0.175 0.03 210)
    );
    --md-sys-color-secondary-fixed-dim: light-dark(
      oklch(0.4 0.03 210),
      oklch(0.8 0.03 210)
    );
    --md-sys-color-on-secondary-fixed-variant: light-dark(
      oklch(1 0 0),
      oklch(0.3 0.03 210)
    );
    --md-sys-color-tertiary-fixed: light-dark(
      oklch(0.5 0.05 270),
      oklch(0.9 0.05 270)
    );
    --md-sys-color-on-tertiary-fixed: light-dark(
      oklch(1 0 0),
      oklch(0.2 0.06 270)
    );
    --md-sys-color-tertiary-fixed-dim: light-dark(
      oklch(0.45 0.05 270),
      oklch(0.83 0.05 270)
    );
    --md-sys-color-on-tertiary-fixed-variant: light-dark(
      oklch(1 0 0),
      oklch(0.3 0.055 270)
    );
    --md-sys-color-surface-dim: light-dark(
      oklch(0.825 0.006 210),
      oklch(0.185 0.009 210)
    );
    --md-sys-color-surface-bright: light-dark(
      oklch(0.975 0.0055 210),
      oklch(0.375 0.0095 210)
    );
    --md-sys-color-surface-container-lowest: light-dark(
      oklch(1 0 0),
      oklch(0.125 0.0095 210)
    );
    --md-sys-color-surface-container-low: light-dark(
      oklch(0.966 0.0065 210),
      oklch(0.2336 0.009 210)
    );
    --md-sys-color-surface-container: light-dark(
      oklch(0.9297 0.0066 210),
      oklch(0.2754 0.0087 210)
    );
    --md-sys-color-surface-container-high: light-dark(
      oklch(0.8941 0.0067 210),
      oklch(0.3188 0.0098 210)
    );
    --md-sys-color-surface-container-highest: light-dark(
      oklch(0.8625 0.0067 210),
      oklch(0.3624 0.0082 210)
    );
  }
}
body {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
header {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
h1 {
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
}
h2 {
  color: var(--md-sys-color-on-secondary);
  background-color: var(--md-sys-color-secondary);
}
p {
  color: var(--md-sys-color-surface);
  background-color: var(--md-sys-color-on-surface);
}
form {
  color: var(--md-sys-color-on-surface-container);
  background-color: var(--md-sys-color-surface-container);
}
